{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "importOrder": [
    "react",
    "@mui",
    "<THIRD_PARTY_MODULES>",
    "^[@ui|@assets|@hooks|@components]",
    "^[./]"
  ],
  "importOrderSeparation": true
}
