#root {
  margin: 0 auto;
  width: 100%;
}


body {
  place-items: normal;
}


.noWrap{
  white-space: nowrap;
}
@media print {
  html{
    background-color: white!important;
  }
  /* Убираем лишние поля и отступы при печати */
  @page {
    margin: 0.5cm;
    size: A4;
  }

  /* Установка масштаба и ориентации */
  html, body {
    width: 210mm;
    height: 297mm;
    margin: 10mm;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Оптимизация контейнеров */
  .MuiContainer-root {
    /*padding-left: 0 !important;*/
    /*padding-right: 0 !important;*/
  }
  .MuiTimelineItem-root::before{
    content: none!important;
  }
  .MuiTimelineContent-root{
    padding: 0!important;
  }
  .MuiTimelineContent-root .MuiPaper-rounded{
    border-top-width: 0!important;
    border-left-width: 0!important;
    border-right-width: 0!important;
    border-radius: 0;
    margin-bottom: 0;
  }
  .section {
    page-break-inside: avoid;
  }
  .chapter {
    page-break-before: always;
  }
  p {
    page-break-inside: auto;
    page-break-before: auto;
    page-break-after: auto;
  }
  h2, h3 {
    page-break-after: avoid;
  }

  /* Оптимизация сеток MUI */
  .MuiGrid-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    /*width: 100% !important;*/
  }
  .MuiTypography-h4{
    font-size: 1.5rem!important;
  }
  .MuiTypography-h5{
    font-size: 1.2rem!important;
  }
  .MuiTypography-h6{
    font-size: 1rem!important;
  }
  .MuiListItemText-multiline{
    margin: 0 !important;
  }

  .MuiAccordionSummary-expandIconWrapper {
    display: none !important;
  }
  .MuiFab-root{
    display: none !important;
  }

  #work-history-content > div{
    padding: 0;
  }
  .MuiTimeline-root{
    padding: 0!important;
    margin: 0!important;
  }

  .MuiAccordion-root {
    display: block !important;
  }

  .MuiAccordion-region {
    height: auto !important;
    visibility: visible !important;
  }

  .MuiChip-outlined {
    border-color: #666 !important;
  }

  .MuiSvgIcon-root {
    fill: #000 !important;
  }
}
